networks:
    global_network:
        external: true

services:
  # NestJS Backend Service
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    container_name: ai-content-studio-backend
    restart: unless-stopped
    ports:
      - "${APP_PORT:-3001}:3001"
    env_file:
      - .env
    environment:
      REDIS_URL: redis://redis:6379
    networks:
            - global_network
